{% extends 'base.html' %}

{% block title %}
  main page
{% endblock title %}

{% block content %}
  {% comment %} <form action="" method="POST" class="ui form" enctype="multipart/form-data">
   {% csrf_token %}
   {{form}}
   <button type="submit" class="ui button primary">Confirmar</button>
  </form> {% endcomment %}

  <!-- Main Section -->
<main class="formPage my-xl">
  <div class="content-box">
      <div class="formWrapper">
          <a class="backButton" href="#"><i class="im im-angle-left"></i></a>
          <br>

          <form class="form" method="POST" enctype="multipart/form-data">
              {% csrf_token %}

              {% for field in form %}
              <!-- Input:Text -->
              <div class="form__field">
                  <label for="formInput#text">{{field.label}}</label>
                  {{field}}
              </div>
              {% endfor %}

              {% comment %} <div class="form__field">
                  {% for tag in project.tags.all %}
                  <div class="project-tag tag tag--pill tag--main" data-tag="{{tag.id}}"
                      data-project="{{project.id}}">{{tag.name}} &#215;</div>
                  {% endfor %}
              </div>

              <div class="form__field">
                  <label for="formInput#text">Tags</label>
                  <textarea class="input" name="newtags" placeholder="Add tags here..."></textarea>
              </div> {% endcomment %}
              <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submeter" />
          </form>
      </div>
  </div>
</main>

{% endblock content %}